.footer-column {
  width: 100%;
  float: left;
}
.footer-column {
  width: 100%;
  align: center;
}
.footer-column {
  width: 100%;
  float: right;
}
table.a{ 
   table-layout: fixed;
   width: 100%;
}